<section data-aos="fade-up">
    <p id="header-1" class="marg-top">Contact Us</p>
    <p id="header-2">Get in Touch with Our Hospital Team</p>
</section>
<section class="form">
    <div class="form-img">
        <!-- <img src="../../assets/Group 1000003116.png" alt=""> -->
    </div>
    <div class="form-1">
        <div class="common-1" data-aos="zoom-in-left">
            <div class="name">
                <input type="text" class="input" name="Name" placeholder="Name" />
            </div>
            <div class="mail">
                <input type="text" class="input" name="mail" placeholder="Your e-mail" />
            </div>
        </div>
        <div class="common-1" data-aos="zoom-in-left">
            <div class="Number">
                <input type="tel" class="input" name="Number" placeholder="Phone Number" />

            </div>
            <div class="Symptoms">
                <input type="text" class="input" name="Symptoms" placeholder="Symptoms" />

            </div>
        </div>

        <div class="msg" data-aos="fade-up">
            <input type="text" class="input-2" name="msg" placeholder="Write your message here" />
        </div>
        <div class="but">
            <button type="submit" class="but-1">Send</button>
        </div>
    </div>