<app-header></app-header>
<section class="headerBox1">
  <p class="stand2">what makes us stand out</p>
  <div class="left">

    <img src="../../assets/Group 1000002783.png" alt="" class="docImg1">
  </div>
  <div class="right">
    <p class="stand">what makes us stand out</p>
    <p class="world">In a world where healthcare services are essential,
      Dr. Shashwat Srivastav, the founder of a hospital,
      had to endure a personal tragedy that pushed him to do something about
      the lack of quality healthcare in his area. Dr. Shashwat Srivastav lost his father in law due
      to the lack of ICU facilities in the region, and he decided that no one else
      should have to go through the same experience.</p>
    <button routerLink="../blogOpen" class="readMoreButton">Read More</button>
  </div>
</section>


<section class="blogs">
  <p class="blogHead">Popular Blogs</p>
  <app-cards></app-cards>
  <!-- <div class="cardGroup">


    <div class="cardBox1">
      <img src="../../assets/popularblog (1).png" alt="" srcset="" class="cardImg">
      <img src="../../assets/Blog Details/Group 1000003052.png" class="icon3" alt="">
    <div class="cardContainer">
      <p class="cardSubText1">
          The biggest critical care facility in the heart of holy city of Prayagraj,
           with a state of art 22- bedded Intensive  unit.
           Our facility boasts of high end equipments.
      </p>
    </div>
  </div>

  <div class="cardBox1">
    <img src="../../assets/popularblog (2).png" alt="" srcset=""class="cardImg">
  <div class="cardContainer">
    <img src="../../assets/Blog Details/Group 1000003052.png" class="icon3" alt="">
    <p class="cardSubText1">
      The biggest critical care facility in the heart of holy city of Prayagraj,
       with a state of art 22- bedded Intensive  unit. Our facility boasts of
        high end equipments.
    </p>
  </div>
</div>

<div class="cardBox1 ">
  <img src="../../assets/popularblog (3).png" alt="" srcset="" class="cardImg">
<div class="cardContainer">
  <img src="../../assets/Blog Details/Group 1000003052.png" class="icon3" alt="">

  <p class="cardSubText1">
    The biggest critical care facility in the heart of holy city of Prayagraj,
     with a state of art 22- bedded Intensive  unit.
    Our facility boasts of high end equipments.
  </p>
</div>
</div>

  </div> -->
</section>




<section class="header">
  <div class="hospital">
    <p class="sky">A Day in the Life of a Hospital:</p>
    <p class="blue">Behind the Scenes of Healing</p>
    <img src="/assets/group01.png" alt="" class="group hide">
    <p class="world">Have you ever wondered what goes on behind the scenes of a hospital? Most of us have only
      experienced the sterile and clinical environment of the patient rooms, but there is so much more to a hospital
      than meets the eye.
      Join us on a journey through a day in the life of a hospital, and discover the heart and soul of healing.</p>
    <button routerLink="../blogOpen" class="readMoreButton-2">Read More</button>
  </div>

  <img src="/assets/group01.png" alt="" class="group show">
</section>


<!--
  Extra
 -->
<!-- <section class="blogs">
  <div class="containerBlogs">
<img src="../../assets/serviceBackgrnd.png" alt="" class="backImg1">
  </div>
</section> -->

<section class="blogs">
  <p class="blogHead">More Blogs</p>
  <app-cards></app-cards>
  <!-- <div class="cardGroup">


    <div class="cardBox2">
      <img src="../../assets/popularblog (1).png" alt="" srcset="" class="cardImg">
      <img src="../../assets/Blog Details/Group 1000003052.png" class="icon3" alt="">
    <div class="cardContainer">
      <p class="cardHead">Best Healthcare in Prayagraj</p>
      <p class="cardSubText2">
          The biggest critical care facility in the heart of holy city of Prayagraj,
           with a state of art 22- bedded Intensive  unit.
           Our facility boasts of high end equipments.
      </p>
    </div>
  </div>

  <div class="cardBox2">
    <img src="../../assets/popularblog (2).png" alt="" srcset=""class="cardImg">
  <div class="cardContainer">
    <img src="../../assets/Blog Details/Group 1000003052.png" class="icon3" alt="">
    <p class="cardHead">Best Healthcare in Prayagraj</p>
    <p class="cardSubText2">
      The biggest critical care facility in the heart of holy city of Prayagraj,
       with a state of art 22- bedded Intensive  unit. Our facility boasts of
        high end equipments.
    </p>
  </div>
</div>

<div class="cardBox2">
  <img src="../../assets/popularblog (3).png" alt="" srcset="" class="cardImg">
<div class="cardContainer">
  <img src="../../assets/Blog Details/Group 1000003052.png" class="icon3" alt="">
  <p class="cardHead">Best Healthcare in Prayagraj</p>
  <p class="cardSubText2">
    The biggest critical care facility in the heart of holy city of Prayagraj,
     with a state of art 22- bedded Intensive  unit.
    Our facility boasts of high end equipments.
  </p>
</div>
</div>

  </div> -->
</section>







<app-footer></app-footer>