<div class="HeadingText">
    <div class="blueHeading">Our Hospital Services</div>
    <div class="blackHeading">Comprehensive Healthcare for Your Well-being</div>
</div>
<div class="grid-container">
    <div data-aos="fade-right" class="grid-item item1">
        <div class="serviceImg"><img src="/assets/GeneralMedicines.png"></div>
        <div class="service">
            <div class="serviceName">General Medicines</div>
            <div class="serviceDetail">Primary healthcare treatments</div>
        </div>
    </div>
    <div data-aos="fade-right" class="grid-item item5">
        <div class="serviceImg"><img src="/assets/Ortho.png"></div>
        <div class="service">
            <div class="serviceName">Orthopedics</div>
            <div class="serviceDetail">Musculoskeletal treatments/surgery</div>
        </div>
    </div>
    <div data-aos="fade-right" class="grid-item item9">
        <div class="serviceImg"><img src="/assets/Critical.png"></div>
        <div class="service">
            <div class="serviceName">Critical Care</div>
            <div class="serviceDetail">Emergency life support services</div>
        </div>
    </div>
    <div data-aos="fade-right" class="grid-item item2">
        <div class="serviceImg"><img src="/assets/GenSurgery.png"></div>
        <div class="service">
            <div class="serviceName ">General Surgery</div>
            <div class="serviceDetail">Surgical treatments/procedures</div>
        </div>
    </div>
    <div data-aos="fade-right" class="grid-item item6">
        <div class="serviceImg"><img src="/assets/Cardiology.png"></div>
        <div class="service">
            <div class="serviceName">Cardiology</div>
            <div class="serviceDetail">Heart-related health services</div>
        </div>
    </div>
    <div data-aos="fade-right" class="grid-item item10">
        <div class="serviceImg"><img src="/assets/Pedia.png"></div>
        <div class="service">
            <div class="serviceName">Pediatrics</div>
            <div class="serviceDetail">Medical care for children</div>
        </div>
    </div>
    <div data-aos="fade-right" class="grid-item item3">
        <div class="serviceImg"><img src="/assets/ENT.png"></div>
        <div class="service">
            <div class="serviceName">ENT</div>
            <div class="serviceDetail">Ear, nose, throat treatments</div>
        </div>
    </div>
    <div data-aos="fade-right" class="grid-item item7">
    <div class="serviceImg"><img src="/assets/Neurology.png"></div>
    <div class="service">
        <div class="serviceName">Neurology</div>
        <div class="serviceDetail">Nervous system treatments</div>
    </div>
    </div>
    <div data-aos="fade-right" class="grid-item item11">
    <div class="serviceImg"><img src="/assets/Nephro.png"></div>
    <div class="service">
        <div class="serviceName">Nephrology</div>
        <div class="serviceDetail">Kidney-related health services</div>
    </div>
    </div>
    <div data-aos="fade-right" class="grid-item item4">
        <div class="serviceImg"><img src="/assets/Obs.png"></div>
        <div class="service">
            <div class="serviceName">Obs&Gyn</div>
            <div class="serviceDetail">Women's reproductive health</div>
        </div>
    </div>
    <div data-aos="fade-right" class="grid-item item8">
        <div class="serviceImg"><img src="/assets/TB.png"></div>
        <div class="service">
            <div class="serviceName">TB & Chest</div>
            <div class="serviceDetail">Respiratory health services</div>
        </div>
    </div>
</div>
