<footer>
  <div class="container">
    <div class="aboutShreeva">
      <div class="logo">
        <img src="../../../assets/LOGO.png" alt="logo">
      </div>
      <p class="webView">Established in the year 2022, AAROGYAVARAM CRITICAL CARE HOSPITAL in SAPRU MARG CIVIL
        LINES, Prayagraj is a top player in the category Hospitals in the Prayagraj. This well-known
        establishment acts as a one-stop destination servicing customers both local and from other parts of Prayagraj.
      </p>
      <div class="poweredBy">
        <img src="assets/poweredBy.svg" alt="">
      </div>
    </div>
    <div class="mobView aboutText">
      <p >Established in the year 2022, AAROGYAVARAM CRITICAL CARE HOSPITAL in SAPRU MARG CIVIL
        LINES, Prayagraj is a top player in the category Hospitals in the Prayagraj. This well-known
        establishment acts as a one-stop destination servicing customers both local and from other parts of Prayagraj.
      </p>
    </div>
    <!-- <div class="depts">
      <div class="heading">Departments</div>
      <div *ngFor="let i of this.depts" class="subs">
        <div>{{i}}</div>
      </div>
    </div> -->
    <div class="links">
      <div class="heading">Links</div>
      <div *ngFor="let link of this.links" class="subs">
        <div ><a class="link-text" [href]="link.link">{{link.text}}</a></div>
      </div>
    </div>
    <div class="contactUs">
      <div class="heading">Contact</div>
      <div class="subs">
          <div class="contactInfo">
            <img src="assets\telephone 1.svg" alt="">
            <p>+91 91510 10311</p>
          </div>
          <div class="contactInfo">
            <img src="assets\location.svg" alt="">
            <p>15A/9B/1, T.B. Sapru Marg, Civil Lines, Prayagraj, 211001.</p>
          </div>
          <div id="directions"><a href="https://maps.app.goo.gl/df9KWMMv36mCFgqy8">GET DIRECTIONS</a></div>
          <p>Version: 1.0.8</p>
      </div>
      <div class="mobView">
        <img src="assets/poweredBy.svg" alt="">
      </div>
    </div>
    <div class="socials">
      <a href="https://www.facebook.com/profile.php?id=100083005047128&mibextid=ZbWKwL"><img src="assets\Facebook logo 2019.svg" alt="facebook Logo"></a>
      <a href=""><img src="assets\LinkedInIcon.svg" alt="LinkedIn logo"></a>
      <a href="https://instagram.com/acchospital?igshid=ZDdkNTZiNTM="><img src="assets\Instagram.svg" alt="Instagram logo"></a>
      <a href="https://twitter.com/AccHospital?t=xYlK-k2s7spxn5TjP6Rtsg&s=09"><img src="assets\Twitter.svg" alt="Twitter logo"></a>
    </div>
  </div>
</footer>


