<section class="sec-first">
    <div class="combine">
        <section class="sec-1" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="300">
            <p id="header-1">Photo Gallery</p>
            <p id="header-2">A Visual Tour of Our Hospital Facilities</p>
        </section>
    </div>
</section>

<section class="sec-last">
    <div class="grid-container">
        <div class="item1"><img src="../../../assets/reception.png" alt="" data-aos="fade-right"></div>
        <div class="item2"><img src="../../../assets/gallery/icu-service.png" alt="" data-aos="fade-left"></div>
        <div class="item3"><img src="../../../assets/gallery/rooms.png" alt="" data-aos="fade-left"></div>
        <div class="item4"><img src="../.././../assets/gallery/title-hospital.png" alt="" data-aos="fade-left"></div>
        <div class="item5"><img src="../.././../assets/gallery/operation-theatre.png" alt="" data-aos="fade-left"></div>
        <div class="item6"><img src="../../assets/gallery/img6.png" alt="" data-aos="fade-left"></div>
        <div class="item7"><img src="../../../assets/gallery/icu-room.png" alt="" data-aos="fade-left"></div>
        <div class="item8"><img src="../../../assets/gallery/outside-hospital.png" alt="" data-aos="fade-right"></div>
        <div class="item9"><img src="../../../assets/gallery/general-serviceroom.png" alt="" data-aos="fade-right"></div>
        <div class="item10"><img src="../../../assets/gallery/sitting-area.png" alt="" data-aos="fade-left"></div>
        <div class="item11"><img src="../../../assets/gallery/operation-beds.png" alt="" data-aos="fade-left"></div>
        <div class="item12"><img src="../../../assets/gallery/random.png" alt="" data-aos="fade-left"></div>
        <!-- <div class="item13"><img src="../../assets/img1.HEIC" alt=""></div>
        <div class="item14"><img src="../../assets/img1.HEIC" alt=""></div>
        <div class="item15"><img src="../../assets/img1.HEIC" alt=""></div> -->
    </div>
</section>
