<app-header></app-header>
<!-- background image -->
<div class="bg-img">
    <img src="../../assets/Rectangle 5471.jpg" alt="">
</div>

<div class="content">
    <div class="card" data-aos="fade-right">
        <img src="../../assets/Group 1000003103.png">
        <div class="cardinfo ">
            <h1>All Speciality OPD</h1>
            <p>With a state of thr art 22- bedded intensive care unit & 8-bedded High dependency unit at the heart of
                holy city of Prayagraj.</p>

        </div>

    </div>

    <div class="card ">
        <img src="../../assets/Group 1000003101.png">
        <div class="cardinfo ">
            <h1>Laparoscopy</h1>
            <p>Professional laparoscopic surgical teams lead by highly experienced and well qualified laparoscopic
                surgeons and best in class equipment.</p>

        </div>

    </div>

    <div class="card " data-aos="fade-left">
        <img src="../../assets/Group 1000003102.png">
        <div class="cardinfo ">
            <h1>E-ICU</h1>
            <p>North India’s 1st E-ICU powered by the well known Medanta group of hospitals is now available in
                Arogyavaram Critical Care Hospital.</p>

        </div>
        <!-- <img class="call" data-aos="flip-left" src="../../assets/Group 40469.png" >  -->
    </div>
    <!-- <img class="call" data-aos="flip-left" src="../../assets/Group 40469.png" >  -->
</div>
<!-- <img class="call" data-aos="flip-left" src="../../assets/Group 40469.png" >  -->
<div class="service">
    <h1>CHOOSE THE SERVICE FOR YOU</h1>
    <div class=" services ">
        <div class="treatment ">
            <img class="img1" src="../../assets/logo (11).png">

            <h3> General Medicines </h3>
            <p>Primary healthCare treatments</p>
        </div>

        <div class="treatment ">
            <img class="img2" src="../../assets/hospital services page/services in blue/Group.png">
            <h3>Pediatrics </h3>
            <p>Medical care for children</p>
        </div>

        <div class="treatment ">
            <img class="img3" src="../../assets/Mask group-3.png">
            <h3> Orthopedics </h3>
            <p>Musculoskeletal treatments/surgery</p>
        </div>

        <div class="treatment ">
            <img class="img4" src="../../assets/Group 1000003079.png">
            <h3>Critical Care </h3>
            <p>Emergency life support services</p>
        </div>
        <div class="treatment ">
            <img class="img5" src="../../assets/logo (8).png">
            <h3> General Surgery </h3>
            <p>Surgical treatments/procedures</p>
        </div>
        <div class="treatment ">
            <img class="img1" src="../../assets/logo (11).png">

            <h3> General Medicines </h3>
            <p>Primary healthCare treatments</p>
        </div>

    </div>

</div>

<div>

    <div class="para paraimg ">
        <!-- <img class="image-bg" src='../../assets/Group.png'> -->
        <div class="text">
            <img class="image1-bg " src='../../assets/hospital services page/Vector 369.png'>
            <p class="head">General Medicine</p>
            <p style="line-height: 41px;">General medicine, also known as internal medicine, is a cornerstone of healthcare that focuses on the
                prevention, diagnosis, and treatment of a wide range of medical conditions. This field encompasses a
                vast array of knowledge and skills, making it a vital component of the medical landscape. In this
                in-depth guide, we will delve into the key aspects of general medicine, its importance, and how it plays
                a crucial role in maintaining overall well-being.</p>
        </div>
        <div class="image ">

            <img src="../../assets/hospital services page/Group.png"
                style="width: 70px; height: 70px; border-radius: 50%;border: 1px solid rgb(127, 144, 250);background: linear-gradient(rgba(13, 121, 187, 1),rgba(67, 98, 169, 1));; padding: 15px;margin-left: -12px; margin-bottom:-50px; position: relative;">
            <img src="../../assets/Mask group (3).png">
        </div>
    </div>

    <div class="para" id="rev-para">

        <div class="image ">
            <img src="../../assets/Rectangle 5492.png">
        </div>
        <div class="text " style="margin-top: 0px;line-height: 30px;font-size: 15px;">
            <img class="image2-bg " src='../../assets/hospital services page/Vector 369.png'>
            <p class="head"> What It Provides</p>
            <p><span class="span">Introduction to General Medicine</span>
                <li> Defining General Medicine</li>
                <li> Role of General
                    Physicians</li>
            </p>
            <p><span class="span">Educational Background and Training </span>
                <li>Medical School and Residency </li>
                <li>Expertise in Diagnosing Complex Cases</li>
            </p>
            <p><span class="span">Scope of Practice </span>
                <li>Broad Spectrum of Conditions</li>
                <li> Holistic Approach to Care</li>
            </p>
        </div>
    </div>

    <div class="para paraimg center">
        <div class="text " style="line-height: 30px;font-size: 15px; text-align: right;">
            <p><span class="span">Side Effects</span><br> Unintended and undesired reactions that may occur after taking
                medication.</p>
            <p><span class="span">Contraindications </span><br>Situations or conditions that make taking the medication
                inadvisable or unsafe.</p>
            <p><span class="span">Interactions </span><br> The potential for drugs or substances to affect each other's
                effects when taken together.</p>
        </div>
        <div class="image ">
            <img src="../../assets/Rectangle 5493.png">

        </div>
    </div>
</div>


<div class="heart"></div>
<div class="s_services">
    <h1> Specialized Services</h1>
    <h2>Exceptional Healthcare Tailored to Your Needs </h2>
</div>

<div class="icons ">
    <div class="depart ">
        <img class="d_img" data-aos="flip-left" src="../../assets/logo (17).png">
        <p>All Specialties OPD</p>
    </div>

    <div class="depart ">
        <img class="d_img" src="../../assets/logo (18).png">
        <p>Laparoscopy Services
        </p>
    </div>

    <div class="depart ">
        <img class="d_img" src="../../assets/logo (19).png">
        <p>24x 7 Availability</p>
    </div>

    <div class="depart ">
        <img class="d_img" src="../../assets/logo (1).png">
        <p>Emergency Facility</p>
    </div>

    <div class="depart ">
        <img class="d_img" data-aos="flip-left" src="../../assets/logo (2).png">
        <p>High Quality Ventilators</p>
    </div>

    <div class="depart ">
        <img class="d_img" src="../../assets/logo (3).png">
        <p>24x7 Dialysis Available</p>
    </div>

    <div class="depart ">
        <img class="d_img" src="../../assets/logo (4).png">
        <p>Best Quality For Every Patient</p>
    </div>

    <div class="depart ">
        <img class="d_img" src="../../assets/logo (5).png">
        <p>Specialty In Critical Care</p>
    </div>

</div>

<app-footer></app-footer>
<!-- <app-call-botton></app-call-botton> -->