<app-header></app-header>
<section class="firstSection">
    <div class="sec-1">
        <div class="img-1">
            <img src="../../assets/back-img.png" alt="">
        </div>
        <div class="content-1" data-aos="zoom-out-left">
            <div class="hd">
                <p>Welcome to Aarogyavaram</p>
            </div>
            <div class="para-1">
                <p>The biggest critical care facility in the heart of holy city of Prayagraj, with a state of art 22-
                    bedded Intensive care unit & 8-bedded High dependency unit. Our facility boasts of high end
                    ventilators & other medical equipments, putting Prayagraj healthcare at par with the global
                    standards. We are the only facility in Prayagraj with round the clock availability of Intensivist
                    attending to patient needs and ensuring promising results.</p>
            </div>
            <div class="para-2">
                <p> We are the only facility in Prayagraj with round the clock availability of Intensivist attending to
                    patient needs and ensuring promising results.</p>
            </div>
            <div class="para-3">
                <p>other medical Prayagraj healthcare at par with the global standards. We are the only facility in
                    Prayagraj with round the clock availability of Intensivist attending to patient needs and ensuring
                    promising results.</p>
            </div>
        </div>
    </div>
    <section class="learn" data-aos-anchor-placement="bottom-center">
        <div class="grid">
            <img src="../../assets/home-Group 1000003007.png" alt="">
            <p>
                The biggest critical care facility in the heart of holy city of Prayagraj, with a
                state of art 22- bedded Intensive
                care unit & 8-bedded High dependency unit. Our facility boasts of high end equipments.
            </p>
        </div>
        <div class="learntext">
            <!-- <p class="sky">Learn More About Our Hospital:</p>
            <p class="blue-1">Who We Are and What We Stand For</p> -->
            <p class="world"> <i>
                    “Our goal is to deliver quality of care in a courteous, respectful,
                    and compassionate manner. We hope you will allow us to care for
                    you and strive to be the first and best choice for healthcare.”
                </i>
            </p>
            <!-- <button routerLink="../aboutus">Learn more</button> -->
        </div>
    </section>

</section>
<section class="cards-container" data-aos="zoom-out-up">
    <div class="cards-cont-vision">

        <div class="head-sec">
            <img src="../../../assets/red.png" alt="" id="box">
            <img src="../../../assets/binocular.png" alt="" id="spec-img">
            <h4>
                Our vision
            </h4>
        </div>


        <div class="descrptn">
            <h5>Our hospital is the brain child of Dr. Shashwat Srivastava who is a practicing Anesthesiologist and a
                critical care expert in prayagraj. His vision was to bring a multi-specialty hospital in prayagraj
                functioning with global standards and give a common platform for all those ailing</h5>
        </div>

    </div>
    <div class="cards-cont-mission">

        <div class="head-sec">
            <img src="../../../assets/blue.png" alt="" id="box">
            <img src="../../../assets/mission.png" alt="" id="spec-img">
            <h4>
                Our vision
            </h4>
        </div>

        <div class="descrptn">
            <h5>To set new standards and redefine intensive health care services in prayagraj</h5>

        </div>

    </div>
    <div class="cards-cont-value">

        <div class="head-sec">
            <img src="../../../assets/yellow.png" alt="" id="box">
            <img src="../../../assets/scale.png" alt="" id="spec-img">
            <h4>
                Our vision
            </h4>
        </div>

        <div class="descrptn">
            <h5>
                <span>Integrity :</span> Doing the right thing <br>
                <span>Patient-Centered :</span> Putting patients and families first <br>
                <span>Respect :</span> valuing all people <br>
                <span>Accountability :</span> Being responsible and taking action <br>
                <span>Compassion :</span> Being empathetic
            </h5>

        </div>

    </div>

</section>
<div>
    <p id="related" data-aos="fade-left">Director Team Profile</p>
</div>

<section class="blogPosts" data-aos="fade-up" data-aos-duration="300">
    <div class="posts">
        <div class="post">
            <img src=" ../../../../assets/gcSrivastava.png" alt="" />
            <h3>Dr.G.CSrivastava</h3>
            <p class="author">CMO</p>
            <p class="description">
                Dr. G.C.Srivastava is a retired Director of Health, worked as Chief Medical Officer (CMO) at all
                major districts of UP. He has a flourishing Practice owing to his exceptional treating skills and
                the medical field. He is a guide-light for the team at Aarogyavaram Critical Care Hospital.
            </p>

        </div>
        <div class="post">
            <img src=" ../../../../assets/doc2.jpg" alt="" />
            <h3>Dr Shaswat</h3>
            <p class="author">MBBS, MD (Anesthesiology), FIPM</p>
            <p class="description">
                He has been a practicing anesthesiologist and critical care expert since eight years. He played an
                instrumental role during COVID times by running a fully equipped designated COVID centre. He has a
                very positive attitude towards life which reflects in his work, also very dedicated to patient care
                and safety..
            </p>

        </div>
        <div class="post">
            <img src=" ../../../../assets/doc3.jpg" alt="" />
            <h3>Dr. Anjana Purnima</h3>
            <p class="author">MBBS, MD (Anesthesiology)</p>
            <p class="description">
                She has worked at apex institutions like AIIMS-Raipur, SGPGI-Lucknow. She has special interest in
                Critical Care and regional nerve blocks. She believes in protocol based procedures and practices.
                She works with dedication and compassion towards patients.
            </p>

        </div>
    </div>
</section>
<app-hospital-facilities></app-hospital-facilities>
<section class="last">
    <div data-aos="zoom-in-left" data-aos="zoom-in-left">
        <div class="back-img">
            <img src="../../assets/back2.png" alt="">
        </div>
        <div class="front-txt">
            <p class="tit">DOCTOR’S SERVICES</p>
            <p class="desc1">A Promise to save life was the only thought in the mind of Dr. Shashwat while establishing
                this renowned hospital, Founded in 2022, Aarogyavaram Critical Care Hospital created milestones in the
                field of healthcare. The hospital has been recognized as central India’s most trusted hospital.</p>
        </div>
    </div>
    <div>
        <img class="imgdoc" src="../../assets/Mask group (5).png" alt="">
    </div>
</section>
<app-footer></app-footer>