<app-header></app-header>
<div class="bg-img">
    <p data-aos="zoom-in" style="margin-top: 80px;">Critical care is not restricted to th walls of an ICU . it starts
        with timely recognition and intervention in</p>
    <p data-aos="zoom-in">any patient who represent with a life threatening illness" - Peter papadakos</p>
</div>
<div class="main">
    <h3>FIND YOUR TRUSTED CARE PROVIDER</h3>
    <h2>BROWSE OUR EMPANELED DOCTORS</h2>
    <div uk-filter="target: .js-filter" style="display: grid; justify-content: center;">
        <div class="filterdiv" class="uk-subnav uk-subnav-pill" style="margin: 0px auto;">
            <p uk-filter-control="[data-filter='Cardiology']"><a>Cardiology</a></p>
            <p uk-filter-control="[data-filter='Neurology']"> <a>Neurology</a></p>
            <p uk-filter-control="[data-filter='Anaesthesia']"><a>Anaesthesia</a></p>
            <p uk-filter-control="[data-filter='Pediatric']"><a>Pediatric</a></p>
            <p uk-filter-control="[data-filter='black']"><a>Maternity</a></p>
            <p class="uk-active" uk-filter-control sty><a>ALL </a></p>
            <!-- <img class="call" data-aos="flip-left" src="../../assets/Group 40469.png" >  -->
        </div>
        <ul class="js-filter uk-text-center">
            <li data-filter='Pediatric'>
                <div class="docCard">
                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Anurag Agarwal</p>
                        <h4 class="h4">Orthopedist</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p>
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    </div>
                    <button routerLink="../contactus"  class="btn cardbtn">Book An Appointment</button>

                </div>
            </li>
            <li data-filter='Anaesthesia'>
                <div class="docCard">

                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496-1.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Harshit Diwedi</p>
                        <h4 class="h4">Pediatrician</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p>
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    </div>
                    <button routerLink="../contactus" class="btn cardbtn">Book An Appointment</button>

                </div>
            </li>
            <li data-color="white">
                <div class="docCard">

                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496-2.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Pankaj Gupta</p>
                        <h4 class="h4">Cardiologist MD</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p>
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    </div>
                    <button routerLink="../contactus"  class="btn cardbtn">Book An Appointment</button>

                </div>
            </li>
            <li data-filter='Pediatric'>
                <div class="docCard">

                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496-3.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Anjana Purnima
                        </p>
                        <h4 class="h4">Anaesthesiologist</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p>
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    </div>
                    <button routerLink="../contactus" class="btn cardbtn">Book An Appointment</button>

                </div>
            </li>
            <li data-filter='Anaesthesia'>
                <div class="docCard">

                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496-4.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Shwetank Rai</p>
                        <h4 class="h4">Anaesthesiologist MD</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p>
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    </div>
                    <button routerLink="../contactus" class="btn cardbtn">Book An Appointment</button>

                </div>
            </li>
            <!-- <li data-color="black">
                <div class="docCard">

                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496-5.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Anjana Purnima</p>
                        <h4 class="h4">ANAESTHSIOLOGIST</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p> -->
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    <!-- </div>
                    <button routerLink="../contactus" class="btn cardbtn">Book An Appointment</button>

                </div>
            </li> -->
            <li data-filter='Cardiology'>
                <div class="docCard">

                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496-6.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Garima Trivedi</p>
                        <h4 class="h4">Obstetrician-Gynecologist</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p>
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    </div>
                    <button routerLink="../contactus" class="btn cardbtn">Book An Appointment</button>

                </div>
            </li>
            <!-- <li data-filter='Anaesthesia'>
                <div class="docCard">

                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496-7.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Uma Jaiswal</p>
                        <h4 class="h4">Obstetrician-Gynecologist</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p> -->
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    <!-- </div>
                    <button routerLink="../contactus" class="btn cardbtn">Book An Appointment</button>

                </div>
            </li> -->
            <li data-filter='Neurology'>
                <div class="docCard">

                    <div class="docDetails">
                        <img class="docimg" src="../../assets/Empanelled Doctors/Rectangle 5496-8.png">
                        <div><img class="btn dicon" src="../../assets/Empanelled Doctors/Mask group.svg"></div>
                        <p class="dname">Dr. Kartikey sharma</p>
                        <h4 class="h4">Neurologist</h4>
                        <p class="ddesc">4 years of specialization in Anesthetics.</p>
                        <!-- <span> Mon-Sat 11.00Am to 05.00Pm</span> -->
                    </div>
                    <button routerLink="../contactus" class="btn cardbtn">Book An Appointment</button>

                </div>
            </li>

        </ul>
    </div>
</div>
<app-footer></app-footer>