<div data-aos="fade-right" class="expert">
    <p class="sky-top">Our Expert Doctors</p>
    <p class="blue"> Experienced Medical Professionals Dedicated to Your Health</p>
    <div>
        <!-- <swiper [navigation]="true" [autoplay]="autoplayOptions" [loop]="true" autoplay-interval="5000"
            [slidesPerView]="windowWidth < 475 ? 1 : 2 ">
            <ng-template swiperSlide> -->
        <div data-aos="flip-down" data-aos="flip-down" class="symbol" style="margin-left: 35px;">
            <div class="skyblue">
                <img src="../../assets/Ellipse 209.png" alt="">
            </div>
            <p class="name">Dr. Anurag Agarwal</p>
            <p class="designation">Orthopedist</p>
        </div>
        <!-- </ng-template> -->
        <!-- <ng-template swiperSlide> -->
        <div data-aos="flip-down" class="symbol">
            <div class="yellowish">
                <img class="yellow-img" src="../../assets/Ellipse 210.png" alt="">
            </div>
            <p class="name">Dr. Anjana Purnima</p>
            <p class="designation">Anesthesiologist</p>
        </div>
        <!-- </ng-template> -->
        <!-- <ng-template swiperSlide> -->
        <div data-aos="flip-down" class="symbol">
            <div class="pink">
                <img src="../../assets/Ellipse 211.png" alt="">
            </div>
            <p class="name">Dr. Garima Trivedi</p>
            <p class="designation">Obstetrician-Gynecologist</p>
        </div>
        <!-- </ng-template>
            <ng-template swiperSlide> -->
        <div data-aos="flip-down" class="symbol">
            <div class="skyblue">
                <img src="../../assets/Ellipse 212.png" alt="">
            </div>
            <p class="name">Dr. Harshit Trivedi</p>
            <p class="designation">Pediatrician</p>
        </div>
        <!-- </ng-template>
        </swiper> -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>