body {
  font-family: 'Roboto', sans-serif;
}

// .showForLap{
//   display: block;
// }
.showForPhone {
  display: none;
}

section.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 82%;
  gap: 2vw;
  padding: 40px;

  .cardBox {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 5px;

    .icon3 {
      width: 85px;
      // display: block;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-50%);
    }

    .cardContainer {
      div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-22%);

        .cardHead {
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 500;
          padding-inline: 15px;
          text-align: center;
        }

        .cardSubText {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 400;
          padding-inline: 15px;
          line-height: 26px;
          text-align: center;
          // letter-spacing: 1px;
        }
      }

    }
  }

  .icon3 {
    width: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
  }
}



// cards for mobile version
.boxes {
  margin: 0 auto;
  width: 96%;
  padding: 10px;
}

.cardBoxes {
  width: 97%;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

.cardBoxesIcon {
  width: 85px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
}

.cardBoxesHead {
  transform: translateY(-90%);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-inline: 15px;
}

.cardBoxesSubText {
  transform: translateY(-30%);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-inline: 15px;
  line-height: 26px;
  // letter-spacing: 1px;
}


@media (max-width:1200px) {
  .showForLap {
    display: block;
  }

  .showForPhone {
    display: none;
  }

  section.box {
    width: 88%;
    gap: 4vw;
    padding: 0px;
  }
}

@media (max-width:768px) {
  #showForLap {
    display: none;
  }

  .showForPhone {
    display: block;
  }

  .cardBoxesIcon {
    width: 65px;
  }

  .cardBoxesHead {
    transform: translateY(-80%);
    font-size: 18px;
  }

  .cardBoxesSubText {
    transform: translateY(-30%);
    font-size: 14px;
  }

  // section.box {
  //     width: 95%;
  //     gap: 3vw;
  // }
  // section.box .cardBox .icon3 {
  //     width: 60px;
  // }
  // section.box .cardBox .cardContainer div {
  //     transform: translateY(-8%);
  // }
  // section.box .cardBox .cardContainer div .cardHead {
  //     font-size: 16px;
  //     line-height: 26px;
  //     font-weight: 500;
  //     padding-inline: 15px;
  // }
  // section.box .cardBox .cardContainer div .cardSubText {
  //     font-size: 13px;
  //     font-weight: 400;
  //     padding-inline: 15px;
  //     line-height: 22px;
  // }

}

@media (max-width:420px) {
  section.box {
    display: none;
  }
}

@media (max-width:420px) {
  #showForLap {
    display: none;
  }

  .showForPhone {
    display: block;
  }

  .cardBoxesIcon {
    width: 60px;
  }

  .cardBoxesHead {
    transform: translateY(-80%);
    font-size: 16px;
  }

  .cardBoxesSubText {
    transform: translateY(-25%);
    font-size: 12px;
  }

  .cardBoxes,
  .swiper-slide {
    width: 260px !important;
    // margin-left: 5vw;
    margin: 0 auto;
  }
  .boxes {
    margin: 0 auto;
    width: 80%;
  }

  // section.box .cardBox .cardContainer div .cardHead {
  //     font-size: 16px;
  //     line-height: 26px;
  //     font-weight: 500;
  //     padding-inline: 15px;
  // }
  // section.box {
  //     overflow-x: auto;
  //     gap: 3vw;
  //     margin-left: 30px;
  // }
  // section.box .cardBox {
  //     width: 80vw;
  //     // box-shadow:2 2px 2px  #FFFFFF;
  //     margin-bottom: 30px;
  // }
}