<app-header></app-header>
<swiper [pagination]="true" [config]="{autoHeight:true}" [loop]="true" autoplay-interval="9000" [autoplay]="true" >
  <ng-template swiperSlide>
    <section class="header">
      <div class="text" data-aos="fade-right">
        <p class="life">Your Life <br>
          is Our Mission</p>
        <p class="para"> Bringing world class health infrastructure to Prayagraj</p>
        <p class="medanta-section">
          <img src="../../assets/medanta-2.png" alt="" class="medanta-logo">
          <strong class="infoColor">Medanta's 1st E ICU in <br> North India</strong>
        </p>
        <div class="button" data-aos="zoom-in" routerLink="../contactus">
          <button class="btn-text">Book appointment</button>
        </div>
      </div>
      <img src="../../assets/Group 40457.png" alt="" srcset="">
    </section>
  </ng-template>
  <ng-template swiperSlide>
    <section class="header">
      <div class="text" data-aos="fade-right">
        <p class="life">Your Life <br>
          is Our Mission</p>
        <p class="para"> Bringing world class health infrastructure to Prayagraj</p>
        <p class="medanta-section">
          <img src="../../assets/medanta-2.png" alt="" class="medanta-logo">
          <strong class="infoColor">Medanta's 1st E ICU in <br> North India</strong>
        </p>
        <div class="button" data-aos="zoom-in" routerLink="../contactus">
          <button class="btn-text">Book appointment</button>
        </div>
      </div>
      <img src="../../assets/Group 1000002999.png" alt="" srcset="">
    </section>
  </ng-template>
  <ng-template swiperSlide>
    <section class="header">
      <div class="text" data-aos="fade-right">
        <p class="life">Your Life <br>
          is Our Mission</p>
        <p class="para"> Bringing world class health infrastructure to Prayagraj</p>
        <p class="medanta-section">
          <img src="../../assets/medanta-2.png" alt="" class="medanta-logo">
          <strong class="infoColor">Medanta's 1st E ICU in <br> North India</strong>
        </p>
        <div class="button" data-aos="zoom-in" routerLink="../contactus">
          <button class="btn-text">Book appointment</button>
        </div>
      </div>
      <img src="../../assets/Group 1000003000.png" alt="" srcset="">
    </section>
  </ng-template>
  <ng-template swiperSlide>
    <section class="header">
      <div class="text" data-aos="fade-right">
        <p class="life">Your Life <br>
          is Our Mission</p>
        <p class="para"> Bringing world class health infrastructure to Prayagraj</p>
        <p class="medanta-section">
          <img src="../../assets/medanta-2.png" alt="" class="medanta-logo">
          <strong class="infoColor">Medanta's 1st E ICU in <br> North India</strong>
        </p>
        <div class="button" data-aos="zoom-in" routerLink="../contactus">
          <button class="btn-text">Book appointment</button>
        </div>
      </div>
      <img src="../../assets/Group 1000002999 (1).png" alt="" srcset="">
    </section>
  </ng-template>
  <ng-template swiperSlide>
    <section class="header">
      <div class="text" data-aos="fade-right">
        <p class="life">Your Life <br>
          is Our Mission</p>
        <p class="para"> Bringing world class health infrastructure to Prayagraj</p>
        <p class="medanta-section">
          <img src="../../assets/medanta-2.png" alt="" class="medanta-logo">
          <strong class="infoColor">Medanta's 1st E ICU in <br> North India</strong>
        </p>
        <div class="button" data-aos="zoom-in" routerLink="../contactus">
          <button class="btn-text">Book appointment</button>
        </div>
      </div>
      <img src="../../assets/Group 1000003000 (1).png" alt="" srcset="">
    </section>
  </ng-template>

  <ng-template swiperSlide>
    <section class="header">
      <div class="text" data-aos="fade-right">
        <p class="life">Your Life <br>
          is Our Mission</p>
        <p class="para"> Bringing world class health infrastructure to Prayagraj</p>
        <p class="medanta-section">
          <img src="../../assets/medanta-2.png" alt="" class="medanta-logo">
          <strong class="infoColor">Medanta's 1st E ICU in <br> North India</strong>
        </p>
        <div class="button" data-aos="zoom-in" routerLink="../contactus">
          <button class="btn-text">Book appointment</button>
        </div>
      </div>
      <img src="../../assets/frame-01.png" alt="" srcset="">
    </section>
  </ng-template>
  <ng-template swiperSlide>
    <section class="header">
      <div class="text" data-aos="fade-right">
        <p class="life">Your Life <br>
          is Our Mission</p>
        <p class="para"> Bringing world class health infrastructure to Prayagraj</p>
        <p class="medanta-section">
          <img src="../../assets/medanta-2.png" alt="" class="medanta-logo">
          <strong class="infoColor">Medanta's 1st E ICU in <br> North India</strong>
        </p>
        <div class="button" data-aos="zoom-in" routerLink="../contactus">
          <button class="btn-text">Book appointment</button>
        </div>
      </div>
      <img src="../../assets/frame-03.png" alt="" srcset="">
    </section>
  </ng-template>
  <ng-template swiperSlide>
    <section class="header">
      <div class="text" data-aos="fade-right">
        <p class="life">Together <br></p>
        <p class="para"> for your family's protection, is Our Mission</p>
        <p class="medanta-section">
          <img src="../../assets/medanta-2.png" alt="" class="medanta-logo">
          <strong class="infoColor">Medanta's 1st E ICU in <br> North India</strong>
        </p>
        <div class="button" data-aos="zoom-in" routerLink="../contactus">
          <button class="btn-text">Book appointment</button>
        </div>
      </div>
      <img src="../../assets/frame-02.png" alt="" srcset="">
    </section>
  </ng-template>
</swiper>


<section class="box">
  <div class="blue">
    <img src="../../assets/Group 1000003019.png" alt="">
    <p> 1st
      eICU of
      North India
    </p>
  </div>
  <div class="red">
    <img src="../../assets/Group 1000003020.png" alt="">
    <p><span>+1500 </span> <br>
      people’s trust</p>
  </div>
  <div class="yellow">
    <img src="../../assets/Group 1000003021.png" alt="">
    <p><span>+1000</span> <br>
      live’s saved</p>
  </div>
</section>

<section class="learn" data-aos-anchor-placement="bottom-center">
  <div class="grid">
    <img src="../../assets/home-Group 1000003007.png" alt="">
    <p>
      The biggest critical care facility in the heart of holy city of Prayagraj, with a
      state of art 22- bedded Intensive
      care unit & 8-bedded High dependency unit. Our facility boasts of high end equipments.
    </p>
  </div>
  <div class="learntext" data-aos="fade-left">

    <p class="sky">Learn More About Our Hospital:</p>
    <p class="blue-1">Who We Are and What We Stand For</p>
    <p class="world"> <i>
        “Our goal is to deliver quality of care in a courteous, respectful,
        and compassionate manner. We hope you will allow us to care for
        you and strive to be the first and best choice for healthcare.”
      </i>
    </p>
    <button routerLink="../aboutus">Learn more</button>
  </div>
</section>

<section class="apart" data-aos="zoom-out-left">
  <section>
    <p id="header-1">Our Unique Approach:</p>
    <p id="header-2">What Sets Our Hospital Apart</p>
  </section>
  <div class="content">
    <div>
      <img src="../../assets/Group 1000003120.png" alt="" data-aos="fade-up-right">
    </div>
    <div class="para3" data-aos="fade-up-left">
      <p>Aarogyavaram hospital is dedicated to personalized and patient-centered care.
        Our team of highly-skilled medical professionals utilizes the latest technology
        to provide comprehensive medical services across a range of specialties. We prioritize
        clear communication with our patients and work collaboratively to develop treatment plans that
        meet their individual needs.</p>
      <p id="para3-2">
        We strive to create a welcoming environment where patients
        feel comfortable and supported, offering amenities and services that
        enhance their experience. Our commitment to our patients has earned us a
        reputation as a trusted healthcare provider in our community.
      </p>
      <p id="para3-3">
        What sets us apart at Aarogyavaram hospital is our
        unwavering dedication to putting our patients first.
        We provide exceptional care and support to each person who walks through our doors.
      </p>
    </div>
    <div class="learn-mob-view">
      <p>
        Aarogyavaram hospital is dedicated to personalized and patient-centered care. Our team of highly-skilled medical
        professionals utilizes the latest technology to provide comprehensive medical services across a range of
        specialties. We prioritize clear communication with our patients and work collaboratively to develop treatment
        plans that meet their individual needs.
        <span *ngIf="!showFullText">...</span>
        <span *ngIf="showFullText"> <br> We strive to create a welcoming environment where patients feel comfortable and
          supported, offering amenities and services that enhance their experience. Our commitment to our patients has
          earned us a reputation as a trusted healthcare provider in our community. <br>
          What sets us apart at Aarogyavaram hospital is our unwavering dedication to putting our patients first. We
          provide exceptional care and support to each person who walks through our doors.
        </span>
      </p>
      <button (click)="toggleText()">
        {{ showFullText ? 'Show Less...' : '(Read more)' }}
      </button>
    </div>
  </div>
</section>
<app-hospital-facilities></app-hospital-facilities>
<app-inspiring-stories></app-inspiring-stories>
<section class="infra">
  <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="300">
    <img class="center" src="../../assets/Union (1).png" alt="">
    <p>Infrastructure focused on critical care</p>
    <img class="center" src="../../assets/Line 5.png" alt="">
  </div>
  <img class="doc-img" src="../../assets/DSC_3514 1.png" alt="">
</section>
<app-expert-doctors></app-expert-doctors>
<app-hospital-services></app-hospital-services>
<app-special-service></app-special-service>
<app-gallery-component></app-gallery-component>
<section>
  <p id="header-1">Health and Wellness Blog </p>
  <p id="header-4">Stay Informed with Our Latest Articles and Insights</p>
</section>
<app-cards></app-cards>
<app-visit-plan></app-visit-plan>
<app-contact-us></app-contact-us>
<app-footer></app-footer>