<div class="stories">
    <p class="sky top">Inspiring Stories</p>
    <p class="blue">Hear What Our Patients Have to Say About Us</p>
    <!-- <img id="Eclippse" src="/assets/Ellipse 236.png"> -->
    <div>
        <swiper [pagination]="true" autoplay-interval="5000" [slidesPerView]="1">
            <ng-template swiperSlide>
                <div class="symbol">
                    <img src="../../assets/Group 40152.png" id="quotes" alt="">
                </div>
                <div class="symbol">
                    <img src="../../assets/Ellipse 3.png" id="person" alt="">
                </div>
                <p class="Name webView">HIMANSHU GOVIL</p>

                <p id="text">My mother was admitted in this hospital I saw and feel all staff behavior. Also very nice
                    facility and hospital is <br> very neat and clean also feel comfortable.Thanks to all staff and acc
                    hospital.</p>


            </ng-template>
            <!-- <ng-template swiperSlide>
                <div class="symbol">
                    <img src="../../assets/Group 40152.png" id="quotes" alt="">
                </div>
                <div class="symbol">
                    <img src="../../assets/Ellipse 209.png" id="person" alt="">
                </div>
                <p class="Name webView">HIMANSHU GOVIL</p>
                <p id="text">hendrerit. Proin dapibus, dui in cursus condimentum, sem turpis tristique justo, sagittis
                    semper metus nisiquis libero. Duis eget facilisis torto</p>
            </ng-template>
            <div class="swiper-pagination"></div> -->
        </swiper>
    </div>
    <div id="mobView">
        <button routerLink="../patientstory">Read Their Stories <img src="/assets/Vector.png"></button>
    </div>
    <div>
        <img src="/assets/Mask group.png" id="hospitalBed">
    </div>
</div>