
<div class="main">
    <h1 class="header">Your request is rejected!</h1>

<h3 class="confirm">Booking Approved! Get ready for exceptional care at our hospital. See you soon!</h3>
<div class="container">
<div class="left">
    <img class="image" src="../../assets/waitingPages/Rectangle 3463809.png">
</div>
<div class="right">
    <h1>Dr. Anjana Purnima</h1>
  <div class="icons"> <i class="bi bi-calendar4-event"><span>Monday, Aug 29</span></i>
     <i class="bi bi-clock"><span>11:00 - 12:00 PM</span></i>
   
</div>
    <h2>Booked for- Post-operative pain management</h2>
    <p>Symptoms/Notes- Pain or discomfort at the surgical site,Swelling or inflammationNausea or vomiting, Changes in mood or emotional well-being</p>
</div>
</div>

<div class="buttons"> <a >Cancel Session</a>
    <button >Reschedule session</button>
</div>
</div>

