<app-header></app-header>
<section data-aos="zoom-in" class="banner"></section>
<section class="standOut">
  <div class="heading" data-aos="fade-up">
    <img src="../../assets/Blog Details/Mask group (3).png" alt="Mask" loading="lazy" />
    <h1>what makes us stand out</h1>
    <img src="../../assets/Blog Details/Mask group (3).png" alt="Mask" loading="lazy" />
  </div>
  <p data-aos="fade-up" class="ex">
    In a world where healthcare services are essential, Dr. Shashwat Srivastava
    , the founder of a hospital, had to endure a personal tragedy that pushed
    him to do something about the lack of quality healthcare in his area. Dr.
    Shashwat Srivastava lost his father due to the lack of ICU facilities in the
    region, and he decided that no one else should have to go through the same
    experience.
  </p>
</section>

<section class="featureSection">
  <div class="content" data-aos="fade-up">
    <img src="../../assets/Blog Details/Group 1000003060.svg" alt="" loading="lazy" class="blogImg" />
    <p>
      In a world where healthcare services are essential, Dr. Shashwat
      Srivastava , the founder of a hospital, had to endure a personal tragedy
      that pushed him to do something about the lack of quality healthcare in
      his area. Dr. Shashwat Srivastava lost his father due to the lack of ICU
      facilities in the region, and he decided that no one else should have to
      go through the same experience.
    </p>
  </div>
  <img data-aos="fade-up" src="../../assets/Blog Details/Rectangle 5527.jpg" alt="Hospital" loading="lazy"
    class="blogImg" />
</section>
<section class="featureSection flipped">
  <img data-aos="fade-up" src="../../assets/Blog Details/Rectangle 5528.jpg" alt="Hospital" loading="lazy"
    class="blogImg" />
  <div class="content" data-aos="fade-up">
    <img src="../../assets/Blog Details/Group 1000003061.svg" alt="" loading="lazy" />
    <p>
      The doctor's mission was to provide excellent healthcare services, and he
      wanted to ensure that patients received the best possible care. The
      doctor's passion and commitment to his work were reflected in the
      hospital's success, as it quickly became a beacon of hope for the
      community. The hospital became an inspiration to other medical facilities
      in the area, and the doctor's story became a source of motivation for many
      who wanted to make a difference. Dr. Shashwat Srivastava’s dedication and
      tireless work had a significant impact on the lives of countless people
      who were suffering from poor healthcare services.
    </p>
  </div>
</section>
<section class="featureSection">
  <div class="content" data-aos="fade-up">
    <img src="../../assets/Blog Details/Group 1000003062.svg" alt="" class="blogImg" />
    <p>
      Despite the challenges that come with running a hospital, Dr. Shashwat
      Srivastava persevered and continued to provide top-quality care to his
      patients. He also established training programs for healthcare
      professionals, ensuring that the next generation of doctors and nurses had
      the knowledge and skills they needed to provide excellent care.
    </p>
  </div>
  <img data-aos="fade-up"
    src="../../assets/Blog Details/image 52.jpg"
    alt="Hospital"
    loading="lazy"
    class="blogImg"
  />
</section>

<section class="footnotes">
  <p data-aos="fade-up">
    In conclusion, Dr. Shashwat’s inspiring story reminds us that we can make a
    difference in the world. Even in the face of personal tragedy, Dr. Shashwat
    chose to take action, and his dedication to improving healthcare services
    has changed countless lives for the better. He continues to inspire people,
    and his story is a testament to the power of human resilience and
    determination.
  </p>
</section>
<div class="heartimg">
  <img data-aos="fade-up" src="./../assets/heart.png" alt="heart" loading="lazy" />
</div>
<app-cards></app-cards>
<!-- <section class="posts">
  <swiper
    [slidesPerView]="windowWidth < 500 ? 1 : windowWidth < 700 ? 2 : windowWidth < 1200 ? 3 : 4"
    [spaceBetween]="40"
    [loop]="true"
    wrapperClass="blogPostSwiper swiper-wrapper"
  >
    <ng-template swiperSlide>
      <div class="post">
        <img
          src="../../assets/popularblog (3).png"
          alt=""
          srcset=""
          class="cardImg"
        />
        <div class="content">
          <img
            src="../../assets/Blog Details/Group 1000003052.png"
            class="icon3"
            alt=""
          />
          <h3 class="cardHead">Best Healthcare in Prayagraj</h3>
          <p class="cardSubText">
            The biggest critical care facility in the heart of holy city of
            Prayagraj, with a state of art 22- bedded Intensive unit. Our
            facility boasts of high end equipments.
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="post">
        <img
          src="../../assets/popularblog (3).png"
          alt=""
          srcset=""
          class="cardImg"
        />
        <div class="content">
          <img
            src="../../assets/Blog Details/Group 1000003052.png"
            class="icon3"
            alt=""
          />
          <h3 class="cardHead">Best Healthcare in Prayagraj</h3>
          <p class="cardSubText">
            The biggest critical care facility in the heart of holy city of
            Prayagraj, with a state of art 22- bedded Intensive unit. Our
            facility boasts of high end equipments.
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="post">
        <img
          src="../../assets/popularblog (3).png"
          alt=""
          srcset=""
          class="cardImg"
        />
        <div class="content">
          <img
            src="../../assets/Blog Details/Group 1000003052.png"
            class="icon3"
            alt=""
          />
          <h3 class="cardHead">Best Healthcare in Prayagraj</h3>
          <p class="cardSubText">
            The biggest critical care facility in the heart of holy city of
            Prayagraj, with a state of art 22- bedded Intensive unit. Our
            facility boasts of high end equipments.
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="post">
        <img
          src="../../assets/popularblog (3).png"
          alt=""
          srcset=""
          class="cardImg"
        />
        <div class="content">
          <img
            src="../../assets/Blog Details/Group 1000003052.png"
            class="icon3"
            alt=""
          />
          <h3 class="cardHead">Best Healthcare in Prayagraj</h3>
          <p class="cardSubText">
            The biggest critical care facility in the heart of holy city of
            Prayagraj, with a state of art 22- bedded Intensive unit. Our
            facility boasts of high end equipments.
          </p>
        </div>
      </div>
    </ng-template>
  </swiper>
</section> -->
<app-footer></app-footer>