
<div class="s_services" >
    <h1  > Specialized Services</h1> 
   <h2>Exceptional Healthcare Tailored to Your Needs </h2>
</div>


<div class="icons ">
    <div class="depart " >
        <img  class="d_img"  src="../../assets/logo (17).png">
        <p>All Specialties OPD</p>
    </div>

    <div class="depart ">
        <img class="d_img"  src="../../assets/logo (18).png">
        <p>Laparoscopy Services
        </p>
    </div>

    <div class="depart ">
        <img class="d_img"  src="../../assets/logo (19).png">
        <p>24x 7 Availability</p>
    </div>

    <div class="depart " style="margin-top: 20px;">
        <img class="d_img"  src="../../assets/logo (1).png">
        <p>Emergency Facility</p>
    </div>

    <div class="depart " style="margin-top: -17px;">
        <img  class="d_img"  src="../../assets/logo (2).png">
        <p>High Quality Ventilators</p>
    </div>

    <div class="depart ">
        <img class="d_img"  src="../../assets/logo (3).png">
        <p>24x7 Dialysis Available</p>
    </div>

    <div class="depart ">
        <img class="d_img" src="../../assets/logo (4).png">
        <p>Best Quality For Every Patient</p>
    </div>

    <div class="depart " style="margin-top: -3px;">
        <img class="d_img"  src="../../assets/logo (5).png">
        <p>Specialty In Critical Care</p>
    </div>

</div>
  
